# H-1B Visa Applications

Immigration is a hot and controversial topic in today's political culture. Because of this, we decided to conduct some analysis on the numbers and find out some truths. 

Mainly, the focus of this analysis is to answer the following question:

1. Geographical Analysis:
    * What are the states with the most applicants? 
  
2. Chronological Analysis: 
    * What is the year-by-year breakdown of applications? 
    
3. Wage Analysis: 
    * What is the wage distribution between the different states?

### Setup

Here, we include all the 3rd party dependencies that we need for our project.

In [2]:
# Put all the imports here
import folium
import numpy as np
import pandas as pd
import plotly as ply
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go

from geopy.geocoders import Nominatim
from matplotlib import pyplot as plt

# Make plotly work in offline mode
from plotly.offline import init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)

Read the relevant datasets. The dataset that are common to all the questions here is the H-1B dataset located in `./data/h1b.csv`. You can download this dataset from this [link](https://www.kaggle.com/nsharan/h-1b-visa/data).

In [4]:
# Load data
h1b_frame = pd.read_csv('./data/h1b.csv') # dataset to large, please download from README.md

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.00,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.00,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.00,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.00,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.40,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003
5,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
6,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,91021.00,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
7,8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.00,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
8,9,CERTIFIED-WITHDRAWN,ESI COMPANIES INC.,CHIEF EXECUTIVES,PRESIDENT,Y,127546.00,2016.0,"MEMPHIS, TEXAS",NaN,NaN
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.00,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222
10,11,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",Y,182978.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625
11,12,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,Y,163717.00,2016.0,"MIDLAND, MICHIGAN",-84.247212,43.615583
12,13,CERTIFIED-WITHDRAWN,ACUSHNET COMPANY,CHIEF EXECUTIVES,TREASURER AND COO,Y,203860.80,2016.0,"FAIRHAVEN, MASSACHUSETTS",NaN,NaN
13,14,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,Y,252637.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
14,15,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,Y,105914.00,2016.0,"GREENWOOD VILLAGE, COLORADO",-104.950814,39.617210
15,16,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,153046.00,2016.0,"STERLING, VIRGINIA",-77.429130,39.006699
16,17,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,Y,90834.00,2016.0,"WAUKESHA, WISCONSIN",-88.231481,43.011678
17,18,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
18,19,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
19,20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,241842.00,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835
20,21,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,117998.00,2016.0,"COMMERCE, CALIFORNIA",-118.159793,34.000569
21,22,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
22,23,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,Y,99986.00,2016.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738
23,24,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,99986.00,2016.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054
24,25,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,159370.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
25,26,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
26,27,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,Y,130853.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
27,28,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,Y,215862.00,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
28,29,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,Y,192088.00,2016.0,"AUSTIN, TEXAS",-97.743061,30.267153
29,30,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,Y,95295.98,2016.0,"WESTON, FLORIDA",-80.399775,26.100365
...,...,...,...,...,...,...,...,...,...,...,...
3002428,3002429,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,53601.60,2011.0,"LEBANON, PENNSYLVANIA",NaN,NaN
3002429,3002430,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,53601.60,2011.0,"LEBANON, PENNSYLVANIA",NaN,NaN
3002430,3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002431,3002432,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,Y,36837.00,2011.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545
3002432,3002433,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002433,3002434,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,Y,36795.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664
3002434,3002435,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002435,3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,77730.00,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033
3002436,3002437,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,Y,89232.00,2011.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
3002437,3002438,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,Y,34510.00,2011.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757
3002438,3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,53082.00,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431
3002439,3002440,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,Y,37336.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3002440,3002441,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),Y,64800.00,2011.0,"REDWOOD SHORES, CALIFORNIA",-122.245536,37.536413
3002441,3002442,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,N,70553.60,2011.0,"WEST VALLEY, UTAH",-112.001050,40.691613
3002442,3002443,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,33800.00,2011.0,"AKRON, OHIO",-81.519005,41.081445
3002443,3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
3002444,3002445,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
3002445,3002446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BERKLEY HEIGHTS, NEW JERSEY",-74.431052,40.680873
3002446,3002447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SCHENECTADY , NEW YORK",-73.939569,42.814243
3002447,3002448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOUTAIN VIEW, CALIFORNIA",-122.083851,37.386052
3002448,3002449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ST.PAUL, MINNESOTA",-93.089958,44.953703
3002449,3002450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NEW TOWN, PENNSYLVANIA",-74.932260,40.228337
3002450,3002451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"WESTMINISTER, COLORADO",-105.037205,39.836653
3002451,3002452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FREEMONT, CALIFORNIA",-121.988572,37.548270
3002452,3002453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"LAVERGNE, TENNESSEE",-86.581939,36.015618
3002453,3002454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NYC, NEW YORK",-74.005941,40.712784
3002454,3002455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOUTH LAKE, TEXAS",-97.134178,32.941236
3002455,3002456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CLINTON, NEW JERSEY",-74.909890,40.636768
3002456,3002457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OWINGS MILL, MARYLAND",-76.780253,39.419550
3002457,3002458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ALTANTA, GEORGIA",-84.387982,33.748995

In [6]:
h1b_frame[19:20]

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
19,20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,241842.0,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835

### Geographical Analysis

 What are the states with the most applicants?**
 
In this section, we'll need another datasets that holds the geo-code and FIPS for each state. This data set is located in `./data/state_geocodes.csv`.

In [3]:
geo_frame = pd.read_csv('./data/state_geocodes.csv')

Here, we collect some information and drop the irrelevant parts. We also add a column with the name of `count` and initialize all the values to 0. This column will store each application count. We also switch the indexing of the Dataframe to use the states name such as 'New York' or 'California' for easier access. 

The `top_cities` variable holds the top 100 cities. We then iterate through this list and extract the state name. We then increment the count in the `state_frame`. After doing so, we drop the states that have 0 applications. 

Please note that this particular code only looks at the top 100 cities and then splits it up by states.

In [ ]:
#### Heat Map of Applications by State ######
states_frame = geo_frame.drop('fips', axis=1)
states_frame['count'] = 0
states_frame = states_frame.set_index('name')

t = h1b_frame.loc[h1b_frame['CASE_STATUS'] == 'CERTIFIED']['WORKSITE'].value_counts()
    
for worksite, count in t.items():
    locations = worksite.split(',')
    state = locations[len(locations)-1].strip().lower().title()
    if state in states_frame.index:
        states_frame.at[state, 'count'] += count
states_frame = states_frame[states_frame['count'] != 0]

Now that `states_frame` contains the desired dataframe, we are ready to plot.

In [ ]:
# plot
map_data = './data/map/us_states.json'
m = folium.Map(location=[37, -102], zoom_start=3)

m.choropleth(
 geo_data=map_data,
 name='2011-2016 H-1B Visa Applications',
 data=states_frame,
 columns=['code', 'count'],
 key_on='feature.id',
 fill_color='YlGn',
 fill_opacity=0.7,
 line_opacity=0.2,
 legend_name='# of Applications'
)
m

---
**What are the states with the most certified applicants?**

Now, let's take a deeper look and analyze the whole dataset. First, let's grab all the date that have `CERTIFIED` case status. This means that the company and the individual who applied for the H-1B have met all the requirements. 

Alongside that, let's create a new dataframe containing state information.

In [8]:
# Certified H1Bs by State
t = h1b_frame.loc[h1b_frame['CASE_STATUS'] == 'CERTIFIED']['WORKSITE'].value_counts()

states = geo_frame['name'].tolist()
states_frame = geo_frame.drop('fips', axis=1)
states_frame['count'] = 0
states_frame = states_frame.set_index('name')

for worksite, count in t.items():
    state = worksite.split(',')[1].strip().lower().title()
    if state in states_frame.index.values:
        states_frame.at[state, 'count'] += count

        
states_frame = states_frame.sort_values('count')

X = states_frame[['code']].values.flatten()
Y = states_frame[['count']].values.flatten()

After attaining the proper X and Y, we are ready to plot.

In [9]:
trace_states = go.Bar(
    x=X, 
    y=Y, 
    name="State", 
    text=Y, 
    textposition = 'auto')

data = [trace_states]
layout = go.Layout(
    title="H1Bs by State",
    barmode='stack'  
)
fig = go.Figure(
    data=data, 
    layout=layout
)
iplot(fig, 
      filename='stacked-bar', 
)

Let's narrow down and look at the top 10 states. This can be done by simply adjusting the indexing of X and Y.

In [10]:
# Top 10 states 
X = states_frame[['code']].values.flatten()[-10:]
Y = states_frame[['count']].values.flatten()[-10:]
trace_states = go.Bar(x=X, 
                    y=Y, 
                    name="State", 
                    text=Y, 
                    textposition = 'auto')

data = [trace_states]
layout = go.Layout(
    title="H1Bs by State",
    barmode='stack'  
)
fig = go.Figure(
    data=data, 
    layout=layout
)
iplot(fig, 
      filename='stacked-bar', 
)

---
**What is the location breakdown of number of applications for the top 3 state?**

In order to do this, let write a method that takes in a dataframe and state and plots the choropleth of the data.

In [ ]:
geolocator = Nominatim(scheme='http')
def get_county(coordinate):
    location = geolocator.reverse(f'{coordinate[0]}, {coordinate[1]}')
    return location.raw['address']['county']

In [ ]:
def number_by_state(frame, state):
    # Transforming Data
    data = frame[frame['CASE_STATUS'] == 'CERTIFIED'][frame['WORKSITE'].str.contains(state.upper())]
    data = data[np.isfinite(data['lat']) & np.isfinite(data['lon'])]
    fips_frame = pd.read_csv('./data/county_geocodes.csv', dtype=str)
    fips_frame = fips_frame.set_index('Name')
    fips_frame['fips'] = fips_frame['State'] + fips_frame['County']
    state_code = fips_frame.at[state, 'State']
    fips_frame = fips_frame[fips_frame['State'] == state_code]

    # Setting up fresh Data Frame
    columns = ['name', 'count', 'lat', 'lon', 'county', 'fips']
    df = pd.DataFrame(columns=columns)
    df = df.set_index('name')
   
    for index, row in data.iterrows():
        city = row['WORKSITE']
        if city in df.index:
            df.at[city, 'count'] += 1
        else:
            lat = row['lat']
            lon = row['lon']
            county = get_county( (lat, lon) )
            if county in fips_frame.index:
                fips_code = fips_frame.at[county, 'fips']
            else:
                print(f'Unable to process {county}')
            df.loc[city] = [1, lat, lon, county, fips_code]

    df = df[df['count'] != 0]
    df = df.sort_values(by='count')
    # print(df)

    values = df['count'].tolist()
    fips = df['fips'].tolist()

    # Plotting
    colorscale = [
        'rgb(193, 193, 193)',
        'rgb(239,239,239)',
        'rgb(195, 196, 222)',
        'rgb(144,148,194)',
        'rgb(101,104,168)',
        'rgb(65, 53, 132)'
    ]

    scope = None
    if state is 'California':
        scope = 'CA'
    elif state is 'New York':
        scope = 'NY'
    elif state is 'Texas':
        scope = 'TX'

    fig = ff.create_choropleth(
        fips=fips, values=values, scope=[scope],
        binning_endpoints=[10, 100, 500, 1000, 10000], colorscale=colorscale,
        county_outline={'color': 'rgb(255,255,255)', 'width': 0.5}, round_legend_values=True,
        legend_title='# of Applications', title='Applications by County'
    )
    
    iplot(fig, filename=state)

Using our previous findings, the top 3 states are California, Texas, and New York. You can ignore any `UserWarning`. 
Note that I wasn't able to get `geolocator` to work in the notebook. Hence, these are commented out. 

* California

In [ ]:
# number_by_state(h1b_frame, 'California')

* Texas

In [ ]:
# number_by_state(h1b_frame, 'Texas')

* New York

In [ ]:
# number_by_state(h1b_frame, 'New York')

---
**Who is the top Employer per State?**

This question is very interesting. We figured that different states would have different top employers due to the dominant industry of that give state.

In [4]:
states_frame = geo_frame.drop('fips', axis=1)
states_frame['top_employer'] = ''
states_frame['count'] = 0
states_frame = states_frame.set_index('name')

for state in states_frame.index:
    data = h1b_frame[h1b_frame['CASE_STATUS'] == 'CERTIFIED'][h1b_frame['WORKSITE'].str.contains(state.upper())]
    counts = data['EMPLOYER_NAME'].value_counts()
    top_employer = counts.keys().tolist()[0]
    top_count = counts.tolist()[0]
    states_frame.at[state, 'top_employer'] = top_employer
    states_frame.at[state, 'count'] = top_count

states_frame = states_frame.sort_values('count')
# print(states_frame)
# states_frame.to_csv('../data/top_employer_by_state.csv')

/usr/local/Cellar/python3/3.6.3/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

Now, that `states_frame` is ready again, we can get to plotting.

In [5]:
X = states_frame[['code']].values.flatten()
Y = states_frame[['count']].values.flatten()
text = states_frame[['top_employer']].values.flatten()

trace_states = go.Bar(
    x=X, 
    y=Y, 
    name="State", 
    text=text, 
    textposition = 'auto')

data = [trace_states]
layout = go.Layout(title="H1Bs by State", barmode='stack')
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='stacked-bar')

Let's focus on the top 10 states...

In [6]:
states_frame = states_frame[-10:]
X = states_frame[['code']].values.flatten()
Y = states_frame[['count']].values.flatten()
text = states_frame[['top_employer']].values.flatten()

trace_states = go.Bar(
    x=X, 
    y=Y, 
    name="State", 
    text=text, 
    textposition = 'auto')

data = [trace_states]
layout = go.Layout(title="H1Bs by State", barmode='stack')
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='stacked-bar')

We see that INFOSYS LIMITED is an overwhelming favorite for applying for an H-1B visa.

---
**What is the Average Salary of the Top Employer of each state?**

Now that we are aware of the top company that applies for H-1B visas. Let's figure out what is the average salary they offer their employees.

In [7]:
data = h1b_frame[h1b_frame['CASE_STATUS'] == 'CERTIFIED']
df = pd.read_csv('./data/top_employer_by_state.csv')
df = df.set_index('name')

for state, row in df.iterrows():
    employer = row['top_employer']
    wages = data[data['WORKSITE'].str.contains(state.upper())][data['EMPLOYER_NAME'] == employer]['PREVAILING_WAGE']
    df.at[state, 'average_salary'] = round(wages.mean(), 2)
    
df.sort_index()

/usr/local/Cellar/python3/3.6.3/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/ipykernel_launcher.py:7: UserWarning:

Boolean Series key will be reindexed to match DataFrame index.

,code,top_employer,count,average_salary
name,,,,
Alabama,AL,THE UNIV. OF ALA. AT BIRMINGHAM (UAB),946,47095.38
Alaska,AK,UNIVERSITY OF ALASKA,114,55792.98
Arizona,AZ,INFOSYS LIMITED,5641,64562.35
Arkansas,AR,INFOSYS LIMITED,2057,53797.90
California,CA,INFOSYS LIMITED,23597,83573.26
Colorado,CO,INFOSYS LIMITED,1871,71671.67
Connecticut,CT,INFOSYS LIMITED,4556,71549.91
Delaware,DE,TATA CONSULTANCY SERVICES LIMITED,1172,65719.35
District Of Columbia,DC,INFOSYS LIMITED,437,81681.22
Florida,FL,INFOSYS LIMITED,4043,63216.82
Georgia,GA,INFOSYS LIMITED,4686,64494.22
Hawaii,HI,UNIVERSITY OF HAWAII,397,55253.00
Idaho,ID,"MICRON TECHNOLOGY, INC.",830,73509.92
Illinois,IL,INFOSYS LIMITED,8975,63051.62
Indiana,IN,CUMMINS INC.,2682,62440.99
Iowa,IA,THE UNIVERSITY OF IOWA,1098,70629.17
Kansas,KS,INFOSYS LIMITED,2994,55318.44
Kentucky,KY,TATA CONSULTANCY SERVICES LIMITED,803,52167.82
Louisiana,LA,IBM INDIA PRIVATE LIMITED,835,51185.33
Maine,ME,RITE PROS INC,330,59893.82
Maryland,MD,JOHNS HOPKINS UNIVERSITY,1449,51295.57
Massachusetts,MA,WIPRO LIMITED,3286,75511.89
Michigan,MI,UNIVERSITY OF MICHIGAN,2177,50723.84
Minnesota,MN,TATA CONSULTANCY SERVICES LIMITED,3801,60525.77
Mississippi,MS,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,266,74265.75
Missouri,MO,INFOSYS LIMITED,1532,64952.62
Montana,MT,MONTANA STATE UNIVERSITY,105,44699.25
Nebraska,NE,BOARD OF REGENTS OF THE UNIVERSITY OF NEBRASKA,434,43808.93
Nevada,NV,"UNIVERSITY OF NEVADA, RENO",222,54004.18
New Hampshire,NH,INFOSYS LIMITED,695,66054.34
New Jersey,NJ,INFOSYS LIMITED,6444,71178.65
New Mexico,NM,"LOS ALAMOS NATIONAL SECURITY, LLC",353,66577.76
New York,NY,INFOSYS LIMITED,4934,72828.01
North Carolina,NC,INFOSYS LIMITED,8770,66828.39
North Dakota,ND,NORTH DAKOTA STATE UNIVERSITY,166,45769.05
Ohio,OH,TATA CONSULTANCY SERVICES LIMITED,4060,58881.60
Oklahoma,OK,UNIVERSITY OF OKLAHOMA,408,40850.59
Oregon,OR,INTEL CORPORATION,4018,86409.13
Pennsylvania,PA,DELOITTE CONSULTING LLP,7764,68213.34
Rhode Island,RI,INFOSYS LIMITED,2465,99216.50
South Carolina,SC,WIPRO LIMITED,440,61369.77
South Dakota,SD,TATA CONSULTANCY SERVICES LIMITED,319,50796.68
Tennessee,TN,"SYNECHRON, INC.",1135,64457.48
Texas,TX,INFOSYS LIMITED,13741,70105.50
Utah,UT,INFOSYS LIMITED,1780,56309.81
Vermont,VT,THE UNIVERSITY OF VERMONT,139,48328.22
Virginia,VA,"CAPITAL ONE SERVICES, LLC",1805,78647.23
Washington,WA,MICROSOFT CORPORATION,19370,89907.96
West Virginia,WV,WEST VIRGINIA UNIVERSITY,321,47589.60
Wisconsin,WI,INFOSYS LIMITED,3577,63036.58
Wyoming,WY,UNIVERSITY OF WYOMING,162,45001.64

Now that `df` is ready, we can begin plotting

In [ ]:
map_data = '/Users/hirad.pourtahmasbi/Dev/h1b-analysis/data/map/us_states.json'
m = folium.Map(location=[37, -102], zoom_start=4)
m.choropleth(
    geo_data=map_data,
    name='2011-2016 Average Salary of Top Employer per State',
    data=df,
    columns=['code', 'average_salary'],
    key_on='feature.id',
    fill_color='YlGn',
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='Average Salary'
)
folium.LayerControl().add_to(m)
m

---
### Chronological Analysis: 

* What is the year-by-year breakdown of applications?

In [11]:
# Histogram for number of applications per year
years_frame_non_cert = h1b_frame.loc[h1b_frame['CASE_STATUS'] != 'CERTIFIED'].groupby('YEAR').count()
X = years_frame_non_cert.index.values
Y = years_frame_non_cert[['Unnamed: 0']].values.flatten()
trace_non_cert = go.Bar(x=X, 
                        y=Y, 
                        name="Non-Certified",
                        text=Y, 
                        textposition = 'auto')

# Histogram for number of applications per year that are 'CERTIFIED', 
# which means 'meeting the minumum requirement'.
years_frame_cert = h1b_frame.loc[h1b_frame['CASE_STATUS'] == 'CERTIFIED'].groupby('YEAR').count()
X = years_frame_cert.index.values
Y = years_frame_cert[['Unnamed: 0']].values.flatten()
trace_cert = go.Bar(x=X, 
                    y=Y, 
                    name="Certified", 
                    text=Y, 
                    textposition = 'auto')

data = [trace_cert, trace_non_cert]
layout = go.Layout(
    title="Certified vs Non-Certified H1B applications per Year",
    barmode='stack'  
)
fig = go.Figure(
    data=data, 
    layout=layout
)
iplot(fig, 
      filename='stacked-bar', 
)

In [12]:
# Creating a dataframe with columns
h1b_frame_with_states = pd.read_csv("./data/h1b.csv")
h1b_frame_with_states['state'] = ''
h1b_frame_with_states['state'] = h1b_frame_with_states['WORKSITE']
tr = []
for worksite in h1b_frame_with_states['state']:
    tr.append(worksite.split(',')[1].strip().title())
h1b_frame_with_states['state'] = tr

In [ ]:
# saving h1b data frame with states into the file
# df.to_csv("./data/h1b_with_states.csv")
h1b_frame_with_states = pd.read_csv("./data/h1b_with_states.csv")

In [6]:
# Does the number of applications is the same when looked in proporion with with state population (per year)? 
h1b_frame_group = h1b_frame_with_states.loc[ h1b_frame_with_states['CASE_STATUS'] == 'CERTIFIED']
h1b_frame_group = h1b_frame_group.loc[ h1b_frame_group['state'] != 'Na']
h1b_frame_group = h1b_frame_group.loc[ h1b_frame_group['YEAR'] == 2016 ]
h1b_frame_group = h1b_frame_group.groupby('state').count()
population_estimates_frame = pd.read_csv("./data/population_est.csv")

h1b_frame_group['population 2016'] = 0 
l = list(population_estimates_frame['2016'])
h1b_frame_group['population 2016'] = l
h1b_frame_group['ratio to population'] =  (h1b_frame_group['Unnamed: 0'] / h1b_frame_group['population 2016']) * 100

X = h1b_frame_group.index.values
Y = h1b_frame_group['ratio to population'].values.flatten()
trace1 = go.Bar(
    x=X,
    y=Y,
    name='Ratios'
)

data = [trace1]
layout = go.Layout(
    title="Number of Applications per State in proportion to Population (2016)",
    barmode='stack'
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped')


#counts 
X = h1b_frame_group.index.values
Y = h1b_frame_group['Unnamed: 0'].values.flatten()

trace1 = go.Bar(
    x=X,
    y=Y,
    name='Ratios'
)

data = [trace1]
layout = go.Layout(
    title="Number of Applications (2016)",
    barmode='stack'
)
fig = go.Figure(data=data, layout=layout)
iplot(fig, filename='grouped')

--- 
### H1B Cap Exempt Applications vs Non-Cap Exempt Applications

Conducting analysis on cap exempt vs non-cap exempt applications

H1B employment are exempt from the cap if the applicant will work at the defined institutions of higher education or a related or affiliated nonprofit entities, or at nonprofit research organizations or governmental research organizations

In [ ]:
# t = t.sort_values('Unnamed: 0', ascending=False)
# t
h1b_frame_with_states

--- 
### Wage Analysis

Let's first take a look at the typical wage of the applicants. The wage that are sometimes reported are abnormally high. Therefore, we should exclude applicants that have a higher than normal wage. It is up to you to decide the cuttoff, we decided on $400,000.

In [ ]:
df = h1b_frame[(h1b_frame['PREVAILING_WAGE'] < 400000) & (h1b_frame['CASE_STATUS'] == 'CERTIFIED')]
df = df.dropna(axis=0, how='all')

After this, the dataframe is pratically ready and we are ready for ploting histograms. The configuration fields here are optional to the use.

In [ ]:
title = 'H-1B Salary From 2011 to 2016'

with plt.style.context('fivethirtyeight'):
    fig, ax = plt.subplots(1, 1, figsize=(10, 4))
    ax.hist(df['PREVAILING_WAGE'], bins=200, edgecolor='#ffffff', color='#169630')

ax.set_title(title)
plt.xlim([15000, 200000])
plt.xlabel('Salary',size=10)
plt.ylabel('# of Applicants', size=20)

# plt.savefig('../graphs/' + title + '.png') # Saving the generated graph
plt.show()

Now we will look at the average wage salary based on occupation.

In [ ]:
dFrame = h1b_frame[(h1b_frame['PREVAILING_WAGE'] < 400000) & (h1b_frame['CASE_STATUS'] == 'CERTIFIED')]
dFrame = dFrame.groupby('SOC_NAME')['PREVAILING_WAGE'].mean().nlargest(20)

ax = plt.subplot(111)
dFrame.plot(kind='barh', figsize=(25, 15), ax=ax);
ax.set_xlabel('Wage', size = 40)
ax.set_ylabel('Occupation Code', size = 30)
ax.set_title('Wage Salary Based on Occupation Code', size = 40)
ax.xaxis.set_tick_params(labelsize=30)
ax.yaxis.set_tick_params(labelsize=30)

In [ ]:
dFrame = h1b_frame[(h1b_frame['PREVAILING_WAGE'] < 400000) & (h1b_frame['CASE_STATUS'] == 'CERTIFIED')]
dFrame = dFrame.groupby('JOB_TITLE')['PREVAILING_WAGE'].mean().nlargest(20)

ax = plt.subplot(111)
dFrame.plot(kind='barh', figsize=(25, 15), ax=ax);
ax.set_xlabel('Wage', size = 40)
ax.set_ylabel('Job Title', size = 30)
ax.set_title('Wage Salary Based on Job Title', size = 40)
ax.xaxis.set_tick_params(labelsize=30)
ax.yaxis.set_tick_params(labelsize=30)